# kexec at home
# Copyright (C) 2026  provide salad
# 
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License
# as published by the Free Software Foundation; either version 2
# of the License, or (at your option) any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with this program; if not, see
# <https://www.gnu.org/licenses/>.

bzImage
kernel

asm.o
kern.o
trampoline.o
main.o

kexec-at-home.ko
kexec-at-home.o
kexec-at-home.mod
kexec-at-home.mod.c
kexec-at-home.mod.o
.module-common.o

modules.order
Module.symvers

.kexec-at-home.ko.cmd
.kexec-at-home.mod.cmd
.kexec-at-home.mod.o.cmd
.kexec-at-home.o.cmd
..module-common.o.cmd
.modules.order.cmd
.Module.symvers.cmd
.main.o.cmd

.tmp_versions

